<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.imp.runtime.languageDescription">
      <language
            extensions="il"
            description="CIL"
            language="CIL"
            derivedFrom="DynamicRoot"
            validator="CIL.CILValidator"
            validatorClass="CIL.CILValidator"
      ></language>
   </extension>
   <extension
         id="CIL.parser"
         name="CIL Parser"
         point="org.eclipse.imp.runtime.parser">
      <parser
            class="CIL.CILParseController"
            language="CIL">
      </parser>
   </extension>    
</plugin>
